@charset "UTF-8";

body {
    font: 0.8em Arial, Helvetica, sans-serif;
    background: #D7E1F2;
}

a { color: #000000;}

#container {
    width: 800px;
    margin: 0 auto;
}

#header { 
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
}

#content {
    margin: 0 120px; /* Ширина колонок */
    padding: 10px;
}


h2 { margin: 0 0 1em; }
